.main-content {
    background-color: $mc-body-bg;
    border-radius: 3rem;
    min-height: 100vh;
    padding: 3rem;

    @include media-breakpoint-down(md) {
        border-radius: 1.5rem;
        box-sizing: content-box !important;
        padding: 1.5rem;
    }
}

@mixin button-variant($color) {
    color: $color;
}

.btn {
    @include button-variant($mc-body-bg);

    &:focus,
    &:hover {
        color: $mc-body-bg;
    }
}

.mc-entregas {
    display: grid;
    gap: 1rem;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }

    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.modal-content {
    @include media-breakpoint-down(sm) {
        width: unset;
    }
}

.page-active {
    background-color: $primary;
    color: $mc-body-bg;
}
